#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
WS2812_CC := gcc
else
WS2812_CC := $(DEB_HOST_GNU_TYPE)-gcc
endif

VERSION := $(shell dpkg-parsechangelog -S Version | cut -d'-' -f1)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) CC=$(WS2812_CC) CFLAGS="$(CPPFLAGS) $(CFLAGS) $(LDFLAGS) -O3 -Wall -Wextra" all

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/robopi-addon VERSION=$(VERSION) install

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start

override_dh_strip:
	dh_strip -X.ko

override_dh_shlibdeps:
	dh_shlibdeps -- -l/usr/$(DEB_HOST_GNU_TYPE)/lib
