[Unit]
Description=Prepare RoboPi AIC USB Wi-Fi device
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/opt/roboparty/bin/robopi-usb-wifi-init
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
