[Unit]
Description=RoboPi WS2812 boot blue light
After=systemd-modules-load.service
Requires=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/opt/roboparty/bin/robopi-ws2812 solid 0 0 255
ExecStop=/opt/roboparty/bin/robopi-ws2812 off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
